# Исключаем все файлы родительских директорий
../

# Системные файлы Windows
*.ini
NTUSER*
ntuser*

# Персональные папки
AppData/
Desktop/
Documents/
Downloads/
Contacts/
Favorites/
Links/
Music/
Videos/
Pictures/
Searches/
"Saved Games"/

# Кэши и временные файлы  
.cache/
.thumbnails/
.bash_history
.python_history
.lesshst
.viminfo

# Конфигурации
.gitconfig
.ssh/
.config/
.conda/
.claude*
.cursor/

# Другие проекты
genesis/
GenesisAI/
GENGenesisProject/
oshu_vacancies/
venv/
deforum-for-automatic1111-webui/
YandexDisk/

# Подпапка Фронт - отдельный репозиторий
Фронт/